@import '../../../styles/variables';

/* BREAKPOINTS */

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1201px;

/* MISC */

$donate-icon-url: "http://temp.richardzilahi.hu/telex/assets/icons/donate.svg";