@import '../variables';
@import '../mixins/mediaQueries';
@import '../mixins/heading';

.article_title-bottom-new {
	justify-content: flex-start;
	align-items: center;
	display: flex;
	flex-direction: row;

	span {
		margin-left: 10px;
		height: 30px;

		&:hover {
			cursor: pointer;

			svg {
				path {
					stroke: $telex-main-color;
				}
			}
		}
	}
}

.article_body {
	@include xl {
		.article-html-content {
			@import './gallery';
		}

		.rate-outer {
			margin-top: 80px;

			h1 {
				@include heading;
				margin-bottom: 0;
			}

			p {
				margin-bottom: 30px;
			}

			.rate-container {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				border: 2px solid $telex-main-color;

				div {
					padding: 10px;
					display: flex;
					align-items: center;
					justify-content: center;

					&:hover {
						transition: all 0.2s ease-in-out;
						background: $telex-main-color;
						cursor: pointer;

						svg {
							g {
								stroke: #ffffff;
							}
						}
					}

					svg {
						width: 2rem;
						height: 2rem;
					}

					&:last-of-type {
						svg {
							transform: rotate(180deg);
						}
					}
				}
			}
		}
	}
}