@import '../variables';
@import '../mixins/mediaQueries';
@import '../mixins/heading';

.article_title-bottom-new {
	justify-content: flex-start;
	align-items: center;
	display: flex;
	flex-direction: row;
	align-items: flex-end;

	span {
		margin-left: 10px;
		height: 30px;
		display: flex;
		align-items: center;
		font-size: 12px;

		svg {
			margin-right: 5px;
		}

		&:last-of-type {
			svg {
				transform: rotate(180deg);
			}
		}
	}
}

.cikk-content {
	.telex-article-title {
		font-size: 60px;
		line-height: 75px;
		font-weight: 600px;
		color: $telex-article-description-color;
		letter-spacing: -2px;
		font-weight: 600;

		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}

	.article-list {
		li {
			.article {
				a {
					font-size: 25px;
					line-height: 32px;
					color: $telex-main-color;
				}
			}
		}
	}
}

.article_body {
	@include xl {

		.article_tags {
			margin: 20px 0;
			padding-bottom: 0;

			a {
				text-decoration: none;
				background: rgba($color: $telex-green, $alpha: 1.0);
				color: #fff;
				text-decoration: none;
				padding: 5px 8px;
				border-radius: 10px;
			}
		}

		p {
			span {
				&.highlight {
					background: rgba($color: #ffb2ae, $alpha: 1);
					padding: 3px;
					border-radius: 3px;
				}

				&.approved {
					background: rgba($color: #b4ecb4, $alpha: 1);
					padding: 3px;
					border-radius: 3px;
				}
			}
		}

		.article-html-content {
			@import './gallery';

			div {
				p {
					line-height: 1.7;
				}

				blockquote {
					line-height: 32px;
					font-weight: 500;
					font-size: 110%;
					letter-spacing: 0.4px;
				}

				h1 {
					margin: 20px 0;
				}
			}
		}

		.rate-outer {
			margin-top: 80px;

			h1 {
				@include heading;
				margin-bottom: 0;
			}

			p {
				margin-bottom: 30px;
			}

			.rate-container {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				border: 2px solid $telex-main-color;

				div {
					padding: 10px;
					display: flex;
					align-items: center;
					justify-content: center;

					&:hover {
						transition: all 0.2s ease-in-out;
						background: $telex-main-color;
						cursor: pointer;

						svg {
							g {
								stroke: #ffffff;
							}
						}
					}

					svg {
						width: 2rem;
						height: 2rem;
					}

					&:last-of-type {
						svg {
							transform: rotate(180deg);
						}
					}
				}
			}
		}
	}
}

.article-content-wrapper {
	@include xl {
		grid-template-columns: 1fr;
	}
}