@import '../_variables.scss';
@import '../mixins/_mediaQueries';

footer {
  @include xl {
    &.footer-new {
      padding: 10px 0;

      ul {
        font-size: 14px;

        li {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}