@import '../variables';

.gallery {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.gallery-hightlight {
		width: 80%;
		height: 50%;
	}

	.image-preview {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		width: 80%;
		background: rgba($color: $telex-main-color, $alpha: 1.0);

		img {
			opacity: 0.95;
			transition: all 0.4s ease;
			cursor: pointer;
			padding: 10px;
			filter: grayscale(100%);

			&:hover {
				opacity: 1;
				filter: grayscale(0%);
			}

			&.opactiy {
				opacity: 1;
				filter: grayscale(0%);
			}
		}
	}
}