@import '../mixins/mediaQueries';
@import '../variables';

header {
	@include xl {
		.above-nav-new {
			padding-top: 0;
			padding-bottom: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;


			.aid {
				flex: 1;
				;
				background-position: 50% 50%;
				background-size: 25px;
				background-repeat: no-repeat;

				a {
					margin-right: 0;
					background: no-repeat;
					font-size: 0px;

					&:hover {
						background: unset;
						color: unset;
					}

					&.aid-new {
						svg {
							path {
								&:first-of-type {
									stroke: #ffffff;
								}

								&:last-of-type {
									fill: #ffffff;
								}
							}
						}
					}
				}
			}

			.logo {
				position: unset;
				flex: 1;
				justify-content: center;
				align-items: center;
				display: flex;

				img {
					transform: unset;
					max-width: 80px;
					object-fit: contain;
				}
			}

			.social-list-wrapper {
				flex: 1;
				justify-content: flex-end;
				align-self: center;

				li {
					span {
						svg {
							width: 20px;
							height: 20px;
							fill: #fff;
							position: relative;
							top: -2px;

							&:hover {
								cursor: pointer;
							}
						}
					}

					&.darkmode {
						span {
							svg {
								path {
									fill: #ffffff;
								}
							}
						}
					}
				}
			}
		}
	}
}