@import '../mixins/mediaQueries';
@import '../mixins/articleTag';
@import '../variables';

.container-new {
	@include xl {
		min-width: 90%;

		.articles-block {
			border-top: 0;
		}

		.article {
			.article_cat {
				background: none;
			}

			.articles {
				column-gap: 50px;
			}

			.left-content-new,
			.right-content-new {
			}
		}

		.right-content-new {
			.article {
			}
		}

		.middle-content-new {
			a {
				// font-size: 50px;
				line-height: 60px;
				margin-top: 20px;
				font-weight: 700;
			}

			.with-image {
				&:hover {
					transition: all 0.2s ease-in-out;

					&::before {
						content: '';
						background: transparent;
					}
				}

				.article-anchor-new,
				.article_desc-new {
					position: absolute;
					background: rgba($color: $telex-main-color, $alpha: 0.6);
					color: #fff;
					padding: 30px;
				}

				.article-anchor-new {
					top: 30%;
					padding: 10px 8px;
					line-height: initial;
				}

				.article_desc-new {
					top: 50%;
				}

				position: relative;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(
						0deg,
						rgba(38, 38, 38, 1) 0%,
						rgba(0, 0, 0, 0.8) 60%
					);
				}

				.article_cat {
					font-size: 16px;
					padding: 9px 16px;
					background: rgba($color: $telex-main-color, $alpha: 1);
					border-top-right-radius: 10px;
					color: #ffffff;
				}
			}

			.article {
				position: relative;
				top: -10px;
			}
		}

		.articles-row-new {
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
			justify-content: space-between;
			column-gap: 30px;
		}
	}

	.articles-block-new {
		grid-template-columns: unset;

		.main-block {
			div {
				grid-template-columns: repeat(2, 1fr);
				column-gap: 50px;
			}
		}

		& + .articles-block {
			column-gap: 50px;

			.main-block {
				div {
					column-gap: 50px;
				}
			}
		}
	}

	.articles-row-wrapper-nww {
		h5 {
			font-size: 30px;
			font-weight: 600;
			text-align: left;
			justify-content: center;
			padding: 30px 0;
		}

		.articles-row {
			column-gap: 50px;
		}
	}
}
