@import '../mixins/mediaQueries';
@import '../mixins/articleTag';
@import '../variables';

.container-new {
	@include xl {
		min-width: 90%;

		.left-content-new,
		.right-content-new {
			.article {
				.article_cat {
					@include articleTag();
					border-top-right-radius: 10px;
				}
			}
		}

		.right-content-new {
			.article {
				.article_cat {
					@include articleTag();
					border-bottom-left-radius: 10px;
				}
			}
		}

		.middle-content-new {
			a {
				font-size: 30px;
				margin-top: 20px;
			}

			.with-image {
				&:hover {
					transition: all 0.2s ease-in-out;

					&::before {
						content: '';
						background: transparent;
					}
				}

				position: relative;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: rgba($color: $telex-main-color, $alpha: 0.2);
				}

				.article_cat {
					font-size: 16px;
					padding: 9px 16px;
					background: rgba($color: $telex-main-color, $alpha: 1);
					border-top-right-radius: 10px;
					color: #ffffff;
				}
			}

			.article_desc {
				font-size: 18px;
			}
		}

		.articles-row-new {
			grid-template-columns: repeat(4, 350px);
			justify-content: space-between;

			.article {
				.article_cat {
					@include articleTag();
					border-top-right-radius: 10px;
				}
			}
		}
	}

	.articles-block-new {
		grid-template-columns: unset;

		.main-block {
			div {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}