/* COLORS */

$telex-main-color: #022a53 !default;
$telex-article-description-color: #2B2B2B !default;
$telex-green: #00916b !default;
$darkmode-background: #121212 !default;

/* SIZES */

$root-container-height: 300px !default;