/* FONTS */

@import './fonts';

/* COLORS */

$telex-main-color: #022a53 !default;
$telex-article-description-color: #2b2b2b !default;
$telex-green: #00916b !default;
$darkmode-background: #121212 !default;
$revisoin-red: #ff6961 !default;
$revision-red-alt: #ffb2ae !default;
$revision-green: #b4ecb4 !default;

/* SIZES */

$root-container-height: 300px !default;
